<!DOCTYPE html>  
<html>  
<head>
  <meta charset="utf-8">
  <title>User page</title>
  <script>
    if (!localStorage.getItem('user')) {
      window.location.replace("http://127.0.0.1:3000/login");
    }
  </script>
  <style>
  
  </style>
</head>
<body>
  <h1>Users</h1>
  <ul>
    <% for (var i = 0; i < users.length; i++) { %>
    <li> <a href="/user?name=<%= users[i] %>"><%- users[i].first_name %></a> </li>
    <% } %>
  </ul>

<script>

</script>
</body>
</html> 